header.header.wow.fadeInDown
	.header__top
		.container.header__container
			.header__burger
				span
			a.header__logo(href='/')
				+icon('logo')(width='181', height='27')
			.header__search
				+icon('search')(width='19', height='19')