.menu {
	$parent: &;

	border-bottom: 1px solid $gray-e9;
	background-color: $white;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	transition: transform 0.3s ease;

	@include max(md) {
		position: absolute;
		top: rem(84);
		left: 0;
		width: 100%;
		height: calc(100vh - 84px);
		border-bottom: 0;
		transform: translateX(-100%);
		overflow: scroll;
	}

	&.open {
		@include max(md) {
			transform: translateX(0);
		}
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include max(md) {
			padding: rem(14) rem(29);
		}
	}

	&__item {
		display: flex;
		margin: 0 auto;

		@include max(md) {
			width: 100%;
			flex-direction: column;
			margin: 0;
		}

		> li {
			padding: rem(18) 0;
			cursor: pointer;

			@include max(md) {
				padding: rem(17) 0;
			}

			@include hover {
				#{$parent}__submenu {
					opacity: 1;
					pointer-events: auto;
				}
			}

			+ li {
				margin-left: rem(31);

				@include max(md) {
					margin-left: 0;
					border-top: 1px solid $gray-e9;
				}
			}

			> a,
			> span {
				font-size: rem(16);
				line-height: rem(16);
				font-weight: 500;
			}

			> a {
				transition: color 0.3s ease;

				@include hover {
					color: $gray-96;
				}
			}

			> span {
				display: flex;
				align-items: center;

				svg {
					margin-left: rem(5);
				}
			}
		}
	}

	&__submenu {
		min-width: rem(176);
		opacity: 0;
		pointer-events: none;
		border: 1px solid $gray-e9;
		background-color: $white;
		padding: rem(21) rem(20);
		position: absolute;
		top: 100%;
		transition: opacity 0.3s ease;

		@include max(md) {
			display: none;
			min-width: 100%;
			width: 100%;
			opacity: 1;
			position: relative;
			top: 0;
			border: 0;
			padding: rem(21) 0;
			pointer-events: auto;
		}

		li + li a {
			border-top: 1px solid $gray-e9;
			margin-top: rem(8);
			padding-top: rem(8);
		}

		a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: rem(13);
			line-height: rem(13);
			transition: color 0.3s ease, padding-left 0.3s ease;

			@include hover {
				color: $gray-96;
				padding-left: rem(6);
			}

			svg {
				margin-left: rem(10);
			}
		}
	}
}