-
	const MENU = [
		{
			text: 'Demos',
			submenu: ['Post Header', 'Post Layout', 'Share Buttons', 'Gallery Post', 'Video Post']
		},
		{
			text: 'Post',
			submenu: ['Post Header', 'Post Layout', 'Share Buttons', 'Gallery Post', 'Video Post']
		},
		{
			text: 'Features',
			submenu: ['Post Header', 'Post Layout', 'Share Buttons', 'Gallery Post', 'Video Post']
		},
		{
			text: 'Categories',
			submenu: ['Post Header', 'Post Layout', 'Share Buttons', 'Gallery Post', 'Video Post']
		},
		{
			text: 'Shop',
			submenu: ['Post Header', 'Post Layout', 'Share Buttons', 'Gallery Post', 'Video Post']
		},
		{
			url: '#',
			text: 'Buy Now'
		}
	];