/* Breakpoints */
$media-list: (
	'xs': 560,
	'sm': 767,
	'md': 1079,
	'lg': 1279,
	'xl': 1599,
	'xxl': 1900,
);

/* Fonts */
$mainFont: 'Roboto', sans-serif;

/* Colors */
$black: #000000;
$white: #ffffff;
$gray-e9: #e9e9e9;
$gray-96: #969696;
$gray-9b: #9b9b9b;
$gray-d7: #d7d7d7;
$gray-92: #929292;
$red: #eb0028;
